# Build artifacts (except final JAR)
build/classes/
build/generated/
build/resources/
build/tmp/
.gradle/

# IDE files
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python artifacts (můžeme smazat requirements.txt)
requirements.txt
__pycache__/
*.pyc
